@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,500;1,600&family=Kanit:wght@100;200;300;400;500;600;700;800&family=Libre+Baskerville:wght@400;700&display=swap');

@media (max-width: 960px) {
  .container {
    width: 700px;
  }
}

@media (max-width: 720px) {
  .container {
    width: 500px;
  }
}

@media (max-width: 540px) {
  .container {
    width: 300px;
  }
}

.container {
  background-size: cover;
  width: 100%;
  height: 100%;
  background-image: url(images/_DSC1229-2.jpg);
}

body {
  font-family: 'Josefin Sans', sans-serif;
  color: #FAF0E6;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  margin: 0;
  text-align: center;
}

.profile-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  justify-content: center;
  width: 41%;
  padding: 20px;
  padding-top: 180px;
  padding-left: 90px;
}

h1 {
  font-family: 'Libre Baskerville';
  color: #FAF0E6;
  font-size: 75px;
  font-weight: 700;
  line-height: 1.0;
  text-shadow: 2px 2px 4px rgba(139, 56, 62, 0.8);
}

h2 {
  font-family: 'Kanit';
  font-weight: 350;
  font-size: 18px;
  color: #8b383e;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.centered-list {
  text-align: center;
}

.centered-list li {
  display: inline-block;
  justify-content: space-evenly;
  border-radius: 8px;
  color: #fddec5;
  padding: 10px;
  margin: 5px;
  text-align: center;
  font-weight: 300;
  box-shadow: 2px 2px 4px rgba(139, 56, 62, 0.8);
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding: 10px;
  padding-bottom: 420px;
}

.socials-icons {
  align-items: center;
}

.socials-list {
  padding: 10px;
}

.socials-list li {
  display: inline;
  padding: 10px;
  color: antiquewhite;
  margin: 0 auto;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.socials-list a {
  color: #8b383e;
  font-size: 35px;
  text-decoration: none;
}

.socials-list a:hover {
  color: #FDDEC6;
}

.button-container {
  justify-content: left;
}

.button {
  margin: 0 auto;
  background-image: linear-gradient(to top, #DAAC89, #FDDEC6, #ffe7d4);
  color: #8b383e;
  padding: 13px 30px;
  border-radius: 8px;
  box-shadow: 2px 2px 4px rgba(139, 56, 62, 0.8);
  text-decoration: none;
  font-weight: bold;
}

.button:hover {
  color: #9F654A;
}

a {
  color: #fddec5;
  text-decoration: none;
}

a:hover {
  color: #8b383e;
  text-decoration: underline;
}

::selection {
  background-color: #8b383e;
  color: #FDDEC6;
}
